h1 {margin:5px;
    padding:5px;
    background-color: rgb(221, 210, 195);
    color:blueviolet;font: size 30px;
    font-family: 0, Times, serif;
    font-weight: bold;
    font-style: initial;
    border: 1px solid black;
    
    }